.App {
  text-align: left;
  background-color: #e6e6e6;
  padding-bottom: 30px;
}

.App-header {
  margin-bottom: 30px;
  background-color: #ffffff;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
}

img {
  width: 219px;
  height: auto;
}

.search {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 250px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 100%;
}

.search:focus {
  outline-color: #e2e2e2;
}

.locate {
  position: absolute;
  bottom: 8rem;
  right: 0.6rem;
  background: white;
  color: #666;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 10;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #999;
}

.locate:focus {
  outline-color: #999;
}

.locate:hover {
  color: #333334;
}
